<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>hogwarts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
  <h1 class="brand">Hogwarts</h1>
  <ul>
    <li>
      <a href="/students" class="btn btn-blue">All Students</a>
      <a href="/students/new" class="btn btn-green">Create new student</a>
    </li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
